.details{
    
    h1{
        text-align: center;
        color:#fff;
        font-size: 2.5rem;
    }
    h2{
        color:#fff;
        text-align: left;
    }
   figure{
        display: flex;
        flex-direction: row;
        width: 100%;
        .img-container{
            width: 20%;
            margin-right: 50px;
            img{
                width: 100%;
            }
        }
        
        .info-container{
            width: 80%;
        }
        figcaption{
            h2{
                text-align: left;
                font-size: 1.3rem;
            }
            p{
                color:#fff;  
            }
        }
    }
}